Repository JamiesonLabUTSW/virtual-panel-action-plan-scoring: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --files-ignore-unknown=true, npm run type-check:affected, prettier --write, npm run test:related --workspace=@shared/types, npm run test:related --workspace=@grading/server, npm run test:related --workspace=@grading/client

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["biome check --write --files-ignore-unknown=true", "npm run type-check:affected"],
  "*.md": ["prettier --write"],
  "shared/**/*.ts": ["npm run test:related --workspace=@shared/types"],
  "server/src/**/*.ts": ["npm run test:related --workspace=@grading/server"],
  "client/src/**/*.{ts,tsx}": ["npm run test:related --workspace=@grading/client"]
}

feat(#16,#17): Install and configure CopilotKit server and client dependencies
  CLAUDE.md
  client/src/App.tsx
  server/src/index.ts
Due: biome check --write --files-ignore-unknown=true, npm run type-check:affected, prettier --write, npm run test:related --workspace=@grading/server, npm run test:related --workspace=@grading/client

feat(#18,#19,#20): CopilotKit agent pipeline — AG-UI state emission
  CLAUDE.md
  SPEC.md
  client/src/App.tsx
  docs/WIP_18_19_20.md
  docs/plan/02-copilotkit-spike.md
  docs/plan/04-judge-pipeline.md
  server/package.json
  server/src/__tests__/test-agent.test.ts
  server/src/agents/dummy-default-agent.ts
  server/src/agents/test-agent.ts
  server/src/index.ts
  shared/types.ts
  start-dev-client.sh
  start-dev-server.sh
Due: biome check --write --files-ignore-unknown=true, npm run type-check:affected, prettier --write, npm run test:related --workspace=@shared/types, npm run test:related --workspace=@grading/server, npm run test:related --workspace=@grading/client

feat(#20,#21): Add comprehensive tests for health endpoint and startup validation
  server/package.json
  server/src/__tests__/env-validation.test.ts
  server/src/__tests__/health.test.ts
  server/src/config/env-validation.ts
  server/src/index.ts
Due: biome check --write --files-ignore-unknown=true, npm run type-check:affected, npm run test:related --workspace=@grading/server

docs: Update CLAUDE.md to match Phase 2 implementation
  CLAUDE.md
Due: prettier --write

feat(#23): Create ChatOpenAI configuration for Azure v1 with structured output support
  CLAUDE.md
  server/package.json
  server/src/grading/__tests__/llm.test.ts
  server/src/grading/llm.ts
  shared/package.json
Due: biome check --write --files-ignore-unknown=true, npm run type-check:affected, prettier --write, npm run test:related --workspace=@grading/server

docs(#23): Update maxTokens parameter docs and add integration test
  SPEC.md
  server/src/grading/__tests__/llm.test.ts
  server/src/grading/llm.ts
Due: biome check --write --files-ignore-unknown=true, npm run type-check:affected, prettier --write, npm run test:related --workspace=@grading/server

fix(#30): Replace broken zod-to-json-schema with OpenAI SDK zodTextFormat
  CLAUDE.md
  run-integration-tests.sh
  server/package.json
  server/src/grading/__tests__/llm.test.ts
  server/src/grading/__tests__/structured-output-integration.test.ts
  server/src/grading/__tests__/structured-output.test.ts
  server/src/grading/llm.ts
  server/src/grading/structured-output-errors.ts
  server/src/grading/structured-output.ts
Due: biome check --write --files-ignore-unknown=true, npm run type-check:affected, prettier --write, npm run test:related --workspace=@grading/server

feat(#31): Create rubric module
  server/src/grading/__tests__/rubric.test.ts
  server/src/grading/rubric.ts
  server/tsup.config.ts
Due: biome check --write --files-ignore-unknown=true, npm run type-check:affected, npm run test:related --workspace=@grading/server

Phase 4: Judge Pipeline (Issues #32-34)
  CLAUDE.md
  SPEC.md
  server/src/grading/__tests__/consensus-chain.test.ts
  server/src/grading/__tests__/few-shot-sets.test.ts
  server/src/grading/__tests__/judge-chain.test.ts
  server/src/grading/consensus-chain.ts
  server/src/grading/few-shot-sets.ts
  server/src/grading/judge-chain.ts
Due: biome check --write --files-ignore-unknown=true, npm run type-check:affected, prettier --write, npm run test:related --workspace=@grading/server

Phase 4: Judge Orchestrator, Agent & Frontend (Issues #35-37)
  CLAUDE.md
  SPEC.md
  client/src/App.tsx
  server/src/__tests__/test-agent.test.ts
  server/src/agents/grade-document-agent.ts
  server/src/agents/test-agent.ts
  server/src/grading/orchestrator.ts
  server/src/index.ts
  shared/types.ts
Due: biome check --write --files-ignore-unknown=true, npm run type-check:affected, prettier --write, npm run test:related --workspace=@shared/types, npm run test:related --workspace=@grading/server, npm run test:related --workspace=@grading/client

Fix MR !21 code review issues: nullable scores, duration bug, state accumulator, test coverage
  client/src/App.tsx
  client/src/__tests__/App.test.tsx
  server/src/agents/__tests__/grade-document-agent.test.ts
  server/src/agents/grade-document-agent.ts
  server/src/grading/__tests__/orchestrator.test.ts
  server/src/grading/consensus-chain.ts
  server/src/grading/structured-output.ts
  server/src/index.ts
  shared/__tests__/schemas.test.ts
  shared/schemas.ts
Due: biome check --write --files-ignore-unknown=true, npm run type-check:affected, npm run test:related --workspace=@shared/types, npm run test:related --workspace=@grading/server, npm run test:related --workspace=@grading/client

Fix agent state passing, Express 5 wildcard, and AG-UI event ordering
  CLAUDE.md
  client/src/App.tsx
  server/src/agents/__tests__/grade-document-agent.test.ts
  server/src/agents/grade-document-agent.ts
  server/src/index.ts
Due: biome check --write --files-ignore-unknown=true, npm run type-check:affected, prettier --write, npm run test:related --workspace=@grading/server, npm run test:related --workspace=@grading/client

Phase 5: Dramatic frontend grading UI ("The Judge Arena")
  client/index.html
  client/package.json
  client/src/App.tsx
  client/src/__tests__/agreement-styles.test.ts
  client/src/__tests__/judge-personas.test.ts
  client/src/__tests__/score-colors.test.ts
  client/src/components/ChatSidebar.tsx
  client/src/components/ConsensusPanel.tsx
  client/src/components/DocumentInput.tsx
  client/src/components/DownloadRunButton.tsx
  client/src/components/GradingTimeline.tsx
  client/src/components/GradingView.tsx
  client/src/components/JudgeCard.tsx
  client/src/components/JudgeCards.tsx
  client/src/data/example-action-items.ts
  client/src/main.tsx
  client/src/styles/app.css
  client/src/utils/agreement-styles.ts
  client/src/utils/judge-personas.ts
  client/src/utils/score-colors.ts
  client/vite.config.ts
Due: biome check --write --files-ignore-unknown=true, npm run type-check:affected, npm run test:related --workspace=@grading/client

Fix Phase 5 UAT bugs (chat, error UI, mobile)
  .playwright-mcp/grading-run-2026-02-12-104320.json
  client/src/App.tsx
  client/src/components/ChatSidebar.tsx
  client/src/components/DocumentInput.tsx
  client/src/components/GradingTimeline.tsx
  client/src/components/GradingView.tsx
  client/src/components/JudgeCard.tsx
  server/src/grading/judge-chain.ts
  server/src/grading/orchestrator.ts
  server/src/index.ts
Due: biome check --write --files-ignore-unknown=true, npm run type-check:affected, npm run test:related --workspace=@grading/server, npm run test:related --workspace=@grading/client

Phase 5 post-UAT UI refinements
  client/src/components/ChatSidebar.tsx
  client/src/components/ConsensusPanel.tsx
  client/src/components/GradingView.tsx
Due: biome check --write --files-ignore-unknown=true, npm run type-check:affected, npm run test:related --workspace=@grading/client

chore: clean up playwright-mcp debug files
  .gitignore
Due: none

chore: stage deletion of playwright debug file
  .playwright-mcp/grading-run-2026-02-12-104320.json
Due: none

plan(phase9): add phase 9 plan for branding
  docs/plan/09-branding.md
Due: prettier --write

feat(server): add rate limiting and request size limit (#56, #57)
  CLAUDE.md
  SPEC.md
  docs/plan/00-PLAN.md
  docs/plan/08-polish-deploy.md
  server/src/index.ts
Due: biome check --write --files-ignore-unknown=true, npm run type-check:affected, prettier --write, npm run test:related --workspace=@grading/server

feat(server): add zero-shot content safety classifier (#58)
  SPEC.md
  docs/plan/08-polish-deploy.md
  docs/red-team/prompts.md
  server/src/grading/__tests__/content-safety.test.ts
  server/src/grading/__tests__/orchestrator.test.ts
  server/src/grading/content-safety.ts
  server/src/grading/orchestrator.ts
Due: biome check --write --files-ignore-unknown=true, npm run type-check:affected, prettier --write, npm run test:related --workspace=@grading/server

feat(client,server): fix action item parsing and implement error states (#60)
  CLAUDE.md
  client/src/components/GradingView.tsx
  server/src/grading/__tests__/orchestrator.test.ts
  server/src/grading/orchestrator.ts
Due: biome check --write --files-ignore-unknown=true, npm run type-check:affected, prettier --write, npm run test:related --workspace=@grading/server, npm run test:related --workspace=@grading/client

fix(docker): fix Dockerfile build errors and static file serving (#62)
  .dockerignore
  Dockerfile
  server/src/index.ts
Due: biome check --write --files-ignore-unknown=true, npm run type-check:affected, npm run test:related --workspace=@grading/server

feat: add HF Spaces configuration and conference header to README (#63)
  README.md
Due: prettier --write

fix(Dockerfile): make sure package.json is copied
  Dockerfile
Due: none

Add package-lock.json
  .gitignore
  package-lock.json
Due: none

feat(theme): retheme client to UTSW clinical blue palette
  client/index.html
  client/public/favicon.ico
  client/public/og-preview.png
  client/src/__tests__/judge-personas.test.ts
  client/src/components/ChatSidebar.tsx
  client/src/components/ConsensusPanel.tsx
  client/src/components/DocumentInput.tsx
  client/src/components/DownloadRunButton.tsx
  client/src/components/GradingTimeline.tsx
  client/src/components/GradingView.tsx
  client/src/components/JudgeCard.tsx
  client/src/components/JudgeCards.tsx
  client/src/styles/app.css
  client/src/utils/judge-personas.ts
  docs/THEMING.md
Due: biome check --write --files-ignore-unknown=true, npm run type-check:affected, prettier --write, npm run test:related --workspace=@grading/client

feat: Institutional branding, legal disclaimers, and cookie consent (Issues #51-55)
  LICENSE
  README.md
  client/package.json
  client/public/LICENSE.txt
  client/src/App.tsx
  client/src/components/Footer.tsx
  client/src/components/TermsModal.tsx
  client/src/vite-env.d.ts
  client/vite.config.ts
  package-lock.json
  package.json
  server/package.json
  shared/package.json
Due: biome check --write --files-ignore-unknown=true, npm run type-check:affected, prettier --write, npm run test:related --workspace=@grading/client

fix: update README to use local preview image
  README.md
Due: prettier --write

feat: add preview image for README
  README.md
Due: prettier --write

fix: use GitHub-hosted preview image to avoid HF binary file restrictions
  README.md
Due: prettier --write

test: improve branch coverage from 77.41% to 84.57% (#66)
  server/src/grading/__tests__/judge-chain.test.ts
  server/src/grading/__tests__/rubric-errors.test.ts
  server/src/grading/__tests__/structured-output.test.ts
  server/src/grading/few-shot-sets.ts
  server/src/grading/rubric.ts
Due: biome check --write --files-ignore-unknown=true, npm run type-check:affected, npm run test:related --workspace=@grading/server

feat: add synthetic data disclaimer to home page (#76)
  SPEC.md
  client/src/components/DocumentInput.tsx
Due: biome check --write --files-ignore-unknown=true, npm run type-check:affected, prettier --write, npm run test:related --workspace=@grading/client

fix: remove implementation details from grading rubric (#78)
  server/src/resources/rubric.txt
Due: none

feat: add grading rubric modal to header (#77)
  client/src/components/GradingView.tsx
  client/src/components/RubricModal.tsx
Due: biome check --write --files-ignore-unknown=true, npm run type-check:affected, npm run test:related --workspace=@grading/client

docs: update README and SPEC to remove LangChain and improve clarity
  README.md
  SPEC.md
Due: prettier --write

feat: add illustrative prompt templates in prompts/ directory (#80)
  prompts/README.md
  prompts/consensus-system.md
  prompts/consensus-user.md.j2
  prompts/content-safety.md.j2
  prompts/few-shot-example.md
  prompts/judge-system.md
  prompts/judge-user.md.j2
Due: prettier --write

feat: add and format utility prompt templates
  README.md
  prompts/README.md
  prompts/utility/carryovers.md
  prompts/utility/data-analysis.md
  prompts/utility/data-translation.md
  prompts/utility/duplicates.md
  prompts/utility/rater-reliability.md
Due: prettier --write

docs: update all specs to match codebase and bump version to 1.0.1
  CLAUDE.md
  CODE_STANDARDS.md
  README.md
  SPEC.md
  client/package.json
  docs/SECURITY_TOOLING.md
  docs/WIP_18_19_20.md
  docs/plan/00-PLAN.md
  docs/plan/01-scaffolding.md
  docs/plan/02-copilotkit-spike.md
  docs/plan/03-langchain-spike.md
  docs/plan/04-judge-pipeline.md
  docs/plan/05-frontend-ui.md
  docs/plan/06-few-shot-calibration.md
  docs/plan/07-chat-integration.md
  docs/plan/08-polish-deploy.md
  docs/plan/09-branding.md
  package.json
  prompts/README.md
  server/package.json
  shared/package.json
Due: prettier --write
